@model IEnumerable<SWENProject.Models.StaffManagement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StaffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DutyTypes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StaffName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DutyTypes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StaffID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StaffID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StaffID })
        </td>
    </tr>
}

</table>
